SUPABASE_URL=https://sample.com
SUPABASE_ANON_KEY=your_supabase_anon_key_here
WEATHER_API_KEY=your_weather_api_key_here
WEATHER_API_URL=https://sample.com
OTHER_IMAGE_URL=https://sample.com/image.jpg
SKY_MODEL_API_URL=http://sample.com/